[buildout]
extends = buildout.cfg

parts += data
         blob
#         archived

[data]
recipe = collective.recipe.rsync
account = david@ccrp.alteroo.com
path = /home/david/ccrp.site
source = ${data:account}:${data:path}/var/filestorage/Data.fs
target = ${buildout:directory}/var/filestorage/Data.fs

[blob]
recipe = collective.recipe.rsync
source = ${data:account}:${data:path}/var/blobstorage
target = ${buildout:directory}/var/

[archived]
recipe = collective.recipe.rsync
source = ${data:account}:${data:path}/archived
target = ${buildout:directory}
